<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>FNT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/libs/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="app/libs/css/sub_menu.css">
  <link rel="stylesheet" type="text/css" href="app/libs/css/fnt.css">
  <script src="app/libs/js/jquery-3.2.1.min.js"></script>
  <script src="app/libs/js/bootstrap.js"></script> 
</head>
<body>
<!-- <script src="js/auth.js"></script> -->
        
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 cabecalho">
        <img id="ajuste_logo_caixa" src="app/libs/img/caixa_branco.svg" class="img-responsive">
        <img id="ajuste_logo_sistema" src="app/libs/img/logo_branco.svg" class="img-responsive">
      </div>

      <div class="col-xs-12 menu">
      <!--Navigation bar-->
      <div ng-include="'app/views/teste_menu.html'"></div>

        <div class="col-xs-12 down_menu">
          <div id="left"><img src="app/libs/img/fnt.svg" class="img-responsive"></div>
          <div id="center"><p>FNT</p></div>
        </div>

      </div>
    
      <div class="col-xs-12 meio">
        <div class="col-xs-12 fundo_meio">
          <div class="row" id="conjunto_botoes">
            <div class="col-xs-6 col-md-4 botao_unico">
              <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.svg"></a>
            </div>
            <div class="col-xs-6 col-md-4 botao_unico">
              <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.svg"></a>
            </div>
            <div class="col-xs-6 col-md-4 botao_unico">
              <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.svg"></a>
            </div>
            <div class="col-xs-6 col-md-4 botao_unico">
              <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.svg"></a>
            </div>
            <div class="col-xs-6 col-md-4 botao_unico">
              <a href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.svg"></a>
            </div>
            <div class="col-xs-6 col-md-4 botao_unico" id="ultimo_botao">
              <a  href="#"><img src="app/libs/img/icones_paineis/iconeinternoindicador.svg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
