<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Mais Info</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/libs/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="app/libs/css/home_style.css" />  
  <link rel="stylesheet" type="text/css" href="app/libs/css/style.css">
  <link rel="stylesheet" type="text/css" href="app/libs/css/botoes_metro_menu.css"> 
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 corpo">
                <img id="ajuste_logo_caixa" src="app/libs/img/caixa_branco.svg" class="img-responsive">
                <img id="ajuste_logo_sistema" src="app/libs/img/logo_sistema.svg" class="img-responsive">
                

                            <div class="col-xs-12 menu">
                            
                                <div id="coluna_1">
                                    <a class="metro-tile" href="/SIALG-sinti/#!/unidades" id="botao_01">
                                        <img id="ajuste_icone_grande" src="app/libs/img/unidades.svg" class="img-responsive">
                                        <div id="texto_botao">Unidades</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/orcamentos" id="botao_08">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/orcamentos_ti.svg" class="img-responsive">
                                        <div id="texto_botao">Orçamentos TI</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/fnt" id="botao_09">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/fnt.svg" class="img-responsive">
                                        <div id="texto_botao">FNT</div>
                                    </a>
                                </div>

                                <div id="coluna_2">
                                    <a class="metro-tile" id="botao_02">
                                        <img id="ajuste_icone_pequeno" href="/SIALG-sucti/#!/pessoas_vitec" src="app/libs/img/pessoas_vitec.svg" class="img-responsive">
                                        <div id="texto_botao">Pessoas VITEC</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/projetos" id="botao_03">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/projetos.svg" class="img-responsive">
                                        <div id="texto_botao">Projetos</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/custos_abc" id="botao_04">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/custos_abc.svg" class="img-responsive">
                                        <div id="texto_botao">Custos ABC</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/auditorias" id="botao_05">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/auditorias.svg" class="img-responsive">
                                        <div id="texto_botao">Auditorias</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/desenv_sistemas" id="botao_06">
                                        <img id="ajuste_icone_medio" src="app/libs/img/desenvolvimento_sistemas.svg" class="img-responsive">
                                        <div id="texto_botao">Desenvolvimento de Sistemas</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/itens_configuracao" id="botao_10">
                                        <img id="ajuste_icone_medio" src="app/libs/img/itens_configuracao.svg" class="img-responsive">
                                        <div id="texto_botao">Itens de Configuração</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/desempenho_ti" id="botao_11">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/desempenho_ti.svg" class="img-responsive">
                                        <div id="texto_botao">Desempenho TI</div>
                                    </a>
                                </div>

                                <div id="coluna_3">
                                    <a class="metro-tile" href="/SIALG-sucti/#!/sistemas" id="botao_07">
                                        <img id="ajuste_icone_grande" src="app/libs/img/sistemas.svg" class="img-responsive">
                                        <div id="texto_botao">Sistemas</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/resultados" id="botao_12">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/resultados.svg" class="img-responsive">
                                        <div id="texto_botao">Resultados</div>
                                    </a>
                                    <a class="metro-tile" href="/SIALG-sucti/#!/logout" id="botao_13">
                                        <img id="ajuste_icone_pequeno" src="app/libs/img/sair.svg" class="img-responsive">
                                        <div id="texto_botao">Sair</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                          


    <script src="app/libs/js/jquery-3.2.1.min.js"></script>
    <script src="app/libs/js/bootstrap.js"></script>
    <script src="app/libs/js/tileJs.js" type="text/javascript"></script>
    <!-- <script src="app/libs/js/auth.js"></script>-->
</body>
</html>
