<!DOCTYPE html>
<html>
    <head>
        <title>SINTI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="app/libs/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="app/libs/css/paineis_sinti.css" rel="stylesheet" media="screen">
    </head>
    <body>
    <script src="app/libs/js/auth.js"></script>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 logo">
                    <img src="app/libs/img/logo_branco.svg" class="pull-left img-responsive">
                </div>
                <div class="col-xs-9 nome">
                    <b id="id_nome">NOME DO DASHBOARD</b>
                </div>
                <div class="col-xs-1 voltar">
                     <a id="id_voltar" href="#"><img src="app/libs/img/sair.svg" class="pull-right img-responsive"></a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 meio">
                        <iframe id="id_iframe" src="#" frameboarder="0" allowfullscreen class="meio_iframe"></iframe>
                </div>
            </div>
        </div>
        <script src="app/libs/js/jquery-3.2.1.min.js"></script>
        <script src="app/libs/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="app/libs/js/recuperaRotas.js"></script>
        
    </body>
</html>