<!DOCTYPE html>
<html>
 
    <div class="navbar navbar-default navbar-static-top"">
      <a class="botao_sair" id="botao_13" href="#"><img src="app/libs/img/sair.svg"></a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderColapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderColapse">
          <ul class ="nav navbar-nav">
            <li><a class="botao_menu" id="botao_1" href="/SINTI/#!/desempenho_ti"><img src="app/libs/img/desempenho_ti.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_2" href="/SINTI/#!/pessoas_vitec"><img src="app/libs/img/pessoas_vitec.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_3" href="/SINTI/#!/unidades"><img src="app/libs/img/unidades.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_4" href="/SINTI/#!/desenvolvimento_sistemas"><img src="app/libs/img/desenvolvimento_sistemas.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_5" href="/SINTI/#!/custos_abc"><img src="app/libs/img/custos_abc.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_6" href="/SINTI/#!/itens_configuracao"><img src="app/libs/img/itens_configuracao.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_7" href="/SINTI/#!/sistemas"><img src="app/libs/img/sistemas.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_8" href="/SINTI/#!/orcamentos_ti"><img src="app/libs/img/orcamentos_ti.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_9" href="/SINTI/#!/resultados"><img src="app/libs/img/resultados.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_10" href="/SINTI/#!/projetos"><img src="app/libs/img/projetos.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_11" href="/SINTI/#!/fnt"><img src="app/libs/img/fnt.svg" class="img-responsive"></a></li>
            <li><a class="botao_menu" id="botao_12" href="/SINTI/#!/auditorias"><img src="app/libs/img/auditorias.svg" class="img-responsive"></a></li>
          </ul>
        </div>
    </div>
</html> 
